body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

table{
    width: 100%;
    border-collapse: colapse;
}

th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th{
    background-color: rgb(187, 186, 184);
}